<hr>
<div class="about_section my-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="image_3 mt-4">
          <img src="images/img-3.png" class="img-fluid" alt="Image 3">
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="about_taital text-center">Marketimiz Hakkında</h1>
        <p class="lorem_text mt-4 text-center">E-Manav olarak, müşteri memnuniyetini her şeyin önünde tutuyor ve sizlere en iyi alışveriş deneyimini sunmak için çalışıyoruz. Sitemizi gezerken ihtiyacınız olan her şeyi bulacağınızdan emin olabilirsiniz.</p>
      </div>
    </div>
  </div>
</div>
