<hr>
<div class="about_section my-4" style="height: 200px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="image_3">
                    <img src="images/img-14.png" class="img-fluid" alt="Image 3">
                </div>
            </div>
            <div class="col-md-6">

                <h1 class="about_taital text-center">Neden Biz?</h1>

                <p class="lorem_text mt-4 text-center">Her zevke ve ihtiyaca uygun geniş ürün yelpazemizle, sağlıklı bir
                    yaşam için
                    gereken
                    her şeyi size sunuyoruz. Üstelik, ürünlerimiz en taze halleriyle, doğrudan çiftlikten sofranıza
                    gelir.
                    Doğallığın ve lezzetin tadını çıkarırken, aynı zamanda sağlığınıza da önem veriyoruz.</p>
            </div>
        </div>
    </div>
</div>