<div class="contact_section layout_padding mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <h1 class="about_taital">İletişime Geç</h1>
                <div class="mail_sectin">
                    <input type="text" class="form-control mb-3" placeholder="Your Name" name="Name">
                    <input type="email" class="form-control mb-3" placeholder="Email" name="Email">
                    <input type="text" class="form-control mb-3" placeholder="Phone Number" name="PhoneNumber">
                    <textarea class="form-control mb-3" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="send_bt"><a href="#" class="btn btn-warning">Gönder</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
