<hr>
<div class="container my-4">
  <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row justify-content-center">
                  <div class="col-md-6">
                      <div class="text-center">
                          <h1>Ben Kimim?</h1>
                          <div>
                              <img src="images/ben.jpg" class="img-fluid rounded-circle mx-auto d-block" alt="Client Image" style="width: 250px; height: 250px;">
                          </div>
                          <div>
                              <h4>İbrahim Sezer</h4>
                              <p>Tarlacı Backend Developer</p>
                          </div>
                          <p>Hızlı ve güvenli alışverişin keyfini çıkarırken, her adımda yanınızda olduğumuzu unutmayın. Evinizin rahatlığında, sağlıklı yaşamınıza bir adım daha yaklaşmak için şimdi E-Manav'a göz atın!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
