<footer class="footer bg-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <p class="mb-0">&copy; 2024 All Right Reserved <a href="https://github.com/ibrahimsezer01">İbrahim Sezer</a></p>
          </div>
      </div>
  </div>
</footer>
