<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--header section start -->
    <%- include('../partials/header') %>
    <!--header section end -->

   <!--contact section start -->
   <%- include('../layouts/login-form') %>
   <!--contact section end -->

    <!--copyright section start -->
    <%- include('../partials/copyright') %>
    <!--copyright section end -->


</body>
</html>